<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ArcGISWindowsPhone-Bing" version="10.1.1.11" targetFramework="wp81" />
  <package id="ArcGISWindowsPhone-Core" version="10.1.1.11" targetFramework="wp81" />
  <package id="Cimbalino.Phone.Toolkit" version="3.2.3" targetFramework="wp81" />
  <package id="Cimbalino.Phone.Toolkit.Background" version="3.2.3" targetFramework="wp81" />
  <package id="DisWpToolkit" version="1.1.1" targetFramework="wp80" />
  <package id="JeffWilcox.Maps" version="1.1" targetFramework="wp81" />
  <package id="NdefLibrary" version="3.0.2" targetFramework="wp81" />
  <package id="NdefLibraryExtension" version="3.0.2" targetFramework="wp81" />
  <package id="sqlite-net" version="1.0.8" targetFramework="wp81" />
  <package id="System.Data.SQLite" version="1.0.93.0" targetFramework="wp81" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp80" />
  <package id="WPtoolkit.Kinnara" version="4.2014.08.05" targetFramework="wp81" />
  <package id="WPToolkitTestFx" version="4.2012.11.14" targetFramework="wp80" />
</packages>